<header class="app-header">
    <img src="" alt="" class="logo">
    <nav class="nav--main">
      <ul class="nav--main__links">
        <li><a class="nav--main__link" ui-sref="state1">State 1</a></li>
        <li><a class="nav--main__link" ui-sref="state2">State 2</a></li>
        <li><a class="nav--main__link" ui-sref="movie.find">add</a></li>
        <li><a class="nav--main__link" ui-sref="movie.list">view</a></li>
      </ul>
    </nav>
  </header>

  <div ui-view></div>

  <section class="list-container--movies">
    <div class="list-item--movie"></div>
  </section>
